h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: black;
    margin-top: 30px;
}

.transferForm{
    margin-top: 40px;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    padding: 35px;
}

.transferForm label{
    color: black;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.transferForm button{
    text-decoration: none;
    color: black;
    background: rgba(0,0,0,0);
    border: solid 1px black;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 10px;
}	

.transferForm button:hover{
    background: black;
    color:white;
}